klostertrophy-model/src-gen/.classpath
klostertrophy-model/src-gen/.factorypath
klostertrophy-model/src-gen/.project
klostertrophy-model/src-gen/.settings/org.eclipse.core.resources.prefs
klostertrophy-model/src-gen/.settings/org.eclipse.jdt.core.prefs
klostertrophy-model/src-gen/target/classes/application.properties
klostertrophy-model/src-gen/.settings/org.eclipse.jdt.apt.core.prefs
klostertrophy-model/src-gen/target/classes/application.properties
